{
  username = "your-username";
  homeDirectory = "/home/your-username";

  git = {
    name = "Your Name";
    email = "your-email@example.com";
    signingKey = "ssh-ed25519 AAAA...your-github-signing-key";
  };

  gitlab = {
    host = "gitlab.example.com";
    name = "your-gitlab-username";
    email = "your-email@example.com";
    signingKey = "ssh-ed25519 AAAA...your-gitlab-signing-key";
  };
}
